/**************************************
Seletor universal
* {
	border: 1px solid red;
}
/**************************************
Seletor de texto
h1 {
	color: green;
}
/**************************************
Seletor de classe
.verde {
	color: green;
}
/**************************************
Seletor de classe
p.verde {
	color: green;
}

**************************************
Seletor de ID
#cabecalho {
	border: 1px solid blue;
	}
**************************************
Seletor de filho
li>a {
	color: red;
	text-decoration: none;
}
**************************************
Seletor de descendente
p a {
	color: green;
}

**************************************
Seletor de irmão adjacente
h1+p {
	color: red;
}
**************************************
Seletor de irmão geral*/
/*h1~p {
	color: pink;
}*/

/***************************************
 Herança e especificidade */

/* Seletores iguais, exceção important

#pagina p {
	color: red important;
}

 #pagina p {
 	color: blue;
 }*/

 /* Se um seletor for mais especifico que o outro 
 a regra mais especifica será aplicada (terá precedencia sobre regras mais gerais)
 */
/*
* {
	color: red;
}
h2 {
	color: blue;
}

h2.verde {
	color: green;
}

h2#amarelo {
	color: yellow;
} */

/******************************************
Barra de navegação vertical

ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {

	padding: 5px 20px;
	background: url(imagens/seta.png) no-repeat left center;
}*/

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul a {
	/*border: 1px solid red;*/
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background:url(imagens/menu.png)  no-repeat left  bottom;
}

a:hover {
	background-position: right bottom;
	color: #fff;
}